// base

$wedding-gray: #4f4f4f;
$wedding-white: #fff;

@font-face {
  font-family: "responsivenav";
  src: url("../icons/responsivenav.eot");
  src: url("../icons/responsivenav.ttf") format("truetype"),url("../icons/responsivenav.woff") format("woff"),url("../icons/responsivenav.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

header, section {
  font-family: 'Montserrat', sans-serif;
}

body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul,
li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer,
header, hgroup, menu, nav, section, summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: $wedding-gray;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
  background: #ede4d5 url(../images/bg.jpg);
}

section {
  border-bottom: 1px solid #999;
  padding: 50px 0 50px;
  text-align: center;
  width: 100%;
}

h1 {
/*   margin-bottom: 0.5em; */
  font-family: alex-brush, cursive;
  font-size: 52px;
  color: #4f4d6a;
}

p {
  width: 90%;
  margin: 0 auto;
}

header {
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  transition-duration: 0.4s;
  width: 100%;
  z-index: 3;
}
